<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <title>Document</title>
</head>
<body>
        <header>
                <nav class="navbar navbar-expand navbar-light" style="background-color: rgb(112, 112, 222);">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/api/productos">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/" aria-current="page">Cargar<span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/chat" aria-current="page">Chat<span class="visually-hidden">(current)</span></a>
          </li>
        </ul>
    </nav>
        </header>
